<template>
  <div id="app">
    <b-navbar type="dark" variant="info">
      <b-container>
      <b-navbar-brand>
        Prueba Medellín Joven
      </b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <b-nav-item>
          <router-link :to="{ name: 'Home'}" tag="li" exact>Inicio</router-link>
        </b-nav-item>
      </b-navbar-nav>
      </b-container>
    </b-navbar>
    <router-view/>
  </div>
</template>

<style lang="scss">
.router-link-active{
  color: white;
  font-weight: bold;
}
</style>

<script lang="ts">
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'App'
}
</script>
