<template>
  <b-container class="my-4">
    <b-overlay :show="loading">
      <b-form @submit.prevent="save">
        <b-card no-body>
          <b-card-body>
          <b-card-title>
            <h1 class="m-4">Administración de encuestas</h1>
          </b-card-title>
              <b-form-group
              label="Título"
              label-for="title"
              >
                <b-form-input
                id="title"
                v-model="poll_selected.title"
                required
                placeholder="Título"
                >
                </b-form-input>
              </b-form-group>
              <b-form-group
              label="Autor"
              label-for="author"
              >
                <b-form-input
                id="author"
                v-model="poll_selected.author"
                placeholder="Autor"
                >
                </b-form-input>
              </b-form-group>
              <b-form-group
              label="Correo"
              label-for="email"
              >
                <b-form-input
                id="email"
                v-model="poll_selected.email"
                type="email"
                required
                placeholder="Correo"
                >
                </b-form-input>
              </b-form-group>
              <b-row v-if="poll_selected.questions.length">
                <b-col col sm="12" class="text-center mt-4">
                  <h4>Preguntas</h4>
                </b-col>
                <b-col class="my-2" col sm="12" v-for="(question, index) in poll_selected.questions" v-bind:key="index">
                  <b-card no-body>
                    <b-card-body>
                      <b-form-group :label="(index+1)+'. '+question.label">
                        <b-form-radio-group
                          :id="'questions'+index"
                          :options="[1,2,3,4,5]"
                        ></b-form-radio-group>
                      </b-form-group>
                    </b-card-body>
                    <b-card-footer>
                      <b-link class="card-link" @click="poll_selected.questions.splice(index,1)">Eliminar Pregunta</b-link>
                    </b-card-footer>
                  </b-card>
                </b-col>
              </b-row>
              <b-row>
                <b-col class="my-2">
                  <b-form @submit.prevent="addQuestion">
                    <b-card no-body>
                      <b-card-body>
                          <b-form-group
                            label="Agregar pregunta"
                            label-for="question_form"
                            >
                              <b-form-input
                              id="question_form"
                              v-model="question_selected"
                              required
                              placeholder="Pregunta"
                              >
                              </b-form-input>
                            </b-form-group>
                          <b-button type="submit" variant="primary">Agregar pregunta</b-button>
                      </b-card-body>
                    </b-card>
                  </b-form>
                </b-col>
              </b-row>
          </b-card-body>
          <b-card-footer class="text-center">
            <b-button class="mx-2" v-if="poll_selected.id === null" type="submit" variant="primary">
              Guardar Encuesta
            </b-button>
            <b-button class="mx-2" v-if="poll_selected.id !== null" type="button" @click="copyPoll" variant="primary">
              Copiar Encuesta
            </b-button>
            <router-link v-if="poll_selected.id !== 'new' && poll_selected.id !== null" :to="'/respuestas/' + poll_selected.id" tag="button" class="btn btn-primary mx-2">Ver Resumen</router-link>
          </b-card-footer>
        </b-card>
      </b-form>
    </b-overlay>
  </b-container>
</template>

<script>
const pollDefault = {
  id: null,
  title: null,
  email: null,
  author: null,
  questions: []
}

export default {
  name: 'Administrar',
  data () {
    return {
      loading: false,
      poll_selected: JSON.parse(JSON.stringify(pollDefault)),
      question_selected: null
    }
  },
  components: {
  },
  methods: {
    getPollById: async function (id) {
      this.loading = true
      try {
        const { data } = await this.$store.state.api.get('poll/' + id)
        this.poll_selected = data.polls
      } catch (error) {
        console.log(error)
        this.loading = false
      }
      this.loading = false
    },
    save: async function () {
      if (this.poll_selected.title === null || this.poll_selected.title === '') {
        alert('El campo título es requerido')
        return false
      }

      if (this.poll_selected.email === null || this.poll_selected.email === '') {
        alert('El email es requerido')
        return false
      }

      if (this.poll_selected.questions.length <= 0) {
        alert('La encuesta debe contener al menos una pregunta')
        return false
      }

      try {
        this.loading = true
        const { data } = await this.$store.state.api.put('poll/', this.poll_selected)
        if (data.code === 'ERROR_TITLE_ALREADY_EXIST') {
          alert('Ocurrió un error al intentar almacenar la encuesta debido a que ya se creó un encuesta con el mismo títiulo previamente')
          this.loading = false
          return false
        }
        if (data.code === 'SUCCESS') {
          alert('La encuesta fue almacenada con éxito, si lo desea, puede volver al Home dando clic en el botón de inicio en la barra de navegación')
          this.loading = false
          return true
        }
      } catch (error) {
        console.log(error)
        this.loading = false
        alert('Se produjo un error al intentar almacenar la encuesta')
      }
    },
    addQuestion: function () {
      if (this.question_selected !== null && this.question_selected !== '') {
        this.poll_selected.questions.push({
          label: this.question_selected
        })
        this.question_selected = null
      }
    },
    copyPoll: function () {
      this.poll_selected.id = null
      this.poll_selected.title = null
      this.poll_selected.email = null
      this.poll_selected.author = null
    }
  },
  mounted () {
    console.log(this.$route.params._id)
    if (this.$route.params._id !== 'new') {
      this.getPollById(this.$route.params._id)
    }
  }
}
</script>
