<template>
  <b-container class="my-4">
    <b-overlay :show="loading">
      <b-form @submit.prevent="save">
        <b-card no-body>
          <b-card-title class="m-4">
            <h1>Resultados de la encuesta: "{{poll.title}}"</h1>
          </b-card-title>
          <b-card-body class="m-4">
            <h4 class="my-3">Total de personas encuestadas: {{answers.length}}</h4>
            <b-card class="my-2" v-for="(question, index) in poll.questions" v-bind:key="index">
              <b-card-title>
                {{question.label}}
              </b-card-title>
              <b-card-body>
                <b-row v-for="(option) in [1,2,3,4,5]" v-bind:key="option">
                  <b-col cols sm="12" md="3">
                    Opcion {{option}}:
                  </b-col>
                  <b-col cols sm="12" md="9">
                    <b-progress :max="100" show-progress>
                      <b-progress-bar
                      :value="porcentage(question.label, option)"
                      :label-html="porcentage(question.label, option)+' %'" />
                    </b-progress>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-card-body>
        </b-card>
      </b-form>
    </b-overlay>
  </b-container>
</template>

<script>

export default {
  name: 'Respuestas',
  data () {
    return {
      loading: false,
      answers: [],
      poll: {}
    }
  },
  components: {
  },
  computed: {
    preguntas: function () {
      return []
    }
  },
  methods: {
    getPollByPollId: async function (pollId) {
      this.loading = true
      try {
        const { data } = await this.$store.state.api.get('answer/' + pollId)
        this.answers = data.answers
        this.poll = data.poll
        console.log(data)
      } catch (error) {
        console.log(error)
        this.loading = false
      }
      this.loading = false
    },
    porcentage (label, option) {
      return Math.round(((this.answers.filter((e) => {
        return (e.answers.filter(q => q.label === label && q.answer === option).length)
      }).length) * 100 / this.answers.length) * 10) / 10
    }
  },
  mounted () {
    if (this.$route.params.poll_id) {
      this.getPollByPollId(this.$route.params.poll_id)
    }
  }
}
</script>
