<template>
  <b-container class="my-4">
    <b-overlay :show="loading">
      <b-form @submit.prevent="sendPoll">
        <b-card no-body>
          <b-card-title class="m-4">
            <h1>{{poll.title}}</h1>
            <p>Autor: {{poll.author}}</p>
          </b-card-title>
          <b-card-body class="m-4">
            <b-row>
              <b-col cols sm="12" v-for="(question, index) in poll.questions" v-bind:key="index">
                <b-form-group :label="(index+1)+'. '+question.label">
                  <b-form-radio-group
                    :id="'questions'+index"
                    v-model="answers[index]"
                    :options="[1,2,3,4,5]"
                  ></b-form-radio-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-body>
          <b-card-footer class="text-center">
            <b-button type="submit" variant="primary">Enviar resultados</b-button>
          </b-card-footer>
        </b-card>
      </b-form>
    </b-overlay>
  </b-container>
</template>

<script>
const pollDefault = {
  id: null,
  title: null,
  email: null,
  author: null,
  questions: []
}

export default {
  name: 'Respuestas',
  data () {
    return {
      loading: false,
      answers: [],
      poll: JSON.parse(JSON.stringify(pollDefault))
    }
  },
  components: {
  },
  methods: {
    getPollById: async function (_id) {
      this.loading = true
      try {
        const { data } = await this.$store.state.api.get('poll/' + _id)
        this.poll = data.polls
      } catch (error) {
        console.log(error)
        this.loading = false
      }
      this.loading = false
    },
    sendPoll: async function () {
      const answersToSend = []
      this.poll.questions.forEach((element, index) => {
        answersToSend.push({
          label: element.label,
          answer: this.answers[index]
        })
      })

      try {
        this.loading = true
        const { data } = await this.$store.state.api.put('answer/', {
          poll_id: this.poll.id,
          answers: answersToSend
        })
        if (data.code === 'SUCCESS') {
          alert('Respuesta recibida satisfactoriamente!')
          this.loading = false
          this.answers = []
        } else {
          alert('Lo sentimos, ha ocurrido un error y no pudimos recibir tus respuestas')
          this.loading = false
        }
      } catch (err) {
        alert('Lo sentimos, ha ocurrido un error y no pudimos recibir tus respuestas')
        console.log(err)
        this.loading = false
      }
    }
  },
  mounted () {
    if (this.$route.params._id) {
      this.getPollById(this.$route.params._id)
    }
  }
}
</script>
