<template>
  <b-container class="mt-4">
    <b-overlay :show="loading">
      <h1>Encuestas</h1>
      <b-row v-if="polls.length">
        <b-col cols sm="12" md="4" class="my-2" v-for="(poll, index) in polls" v-bind:key="index">
          <b-card no-body>
            <b-card-title class="text-info m-3">{{poll.title}}</b-card-title>
            <b-card-body>
              <p>
                <b>Autor:</b> {{poll.author}}
              </p>
              <p>
                <b>Correo:</b> {{poll.email}}
              </p>
            </b-card-body>
            <b-card-footer class="text-center">
              <router-link :to="'/aplicar/'+poll._id" tag="button" class="btn btn-primary mx-2" >
                Responder
              </router-link>
              <router-link :to="'/administrar/'+poll._id" tag="button" class="btn btn-primary mx-2" >
                Administrar
              </router-link>
            </b-card-footer>
          </b-card>
        </b-col>
      </b-row>
      <b-row v-else>
        <b-col>
          Lo sentimos, aun no se han creado ningúna encuesta
        </b-col>
      </b-row>
    </b-overlay>
    <b-row>
      <b-col class="my-5 text-center">
        <router-link :to="'/administrar/new'" class="btn btn-primary" tag="button">Crear una nueva encuesta</router-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
      polls: [],
      loading: false
    }
  },
  components: {
  },
  methods: {
    getPolls: async function () {
      this.loading = true
      try {
        const { data } = await this.$store.state.api.get('poll/')
        this.polls = data.polls
      } catch (error) {
        alert('Lo sentimos, ocurrió un error')
        console.log(error)
      }
      this.loading = false
    }
  },
  mounted () {
    this.getPolls()
  }
}
</script>
